<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/livres']" routerLinkActive="router-link-active" >Bibliothèque</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['/dash']" routerLinkActive="router-link-active" >Espace de travail</a>
          </li>
          <li class="nav-item px-2">
              <a class="nav-link" [routerLink]="['/livres']" routerLinkActive="router-link-active" >Livres</a>
          </li>
		  <li class="nav-item px-2">
          <a class="nav-link" [routerLink]="['/pfes']" routerLinkActive="router-link-active" >PFEs</a>
        </li>
          <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['/prets']" routerLinkActive="router-link-active" >Prêts</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" [routerLink]="['/users']" routerLinkActive="router-link-active" >Utilisateurs</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="login.html" class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >
              <i class="fas fa-user-times"></i> Se deconnecter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-success text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-pencil-alt"></i> Livres </h1>
        </div>
      </div>
    </div>
  </header>

  <!-- SEARCH -->
  <section id="search" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
          <div class="">
              <button class="btn btn-success btn-block" [routerLink]="['/addLivre']" routerLinkActive="router-link-active" >
                <i class="fas fa-plus"></i> Ajouter un livre
              </button>
          </div>
        <div class="col-md-6 ml-auto">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Posts...">
            <div class="input-group-append">
              <button class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PRETS -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>La listes des livres</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>N° Entrée</th>
                  <th>Date d'entrée</th>
                  <th>Libellé</th>
                  <th>Prix</th>
				   <th>Auteur</th>
		   	      <th>Domaine</th>
				  <th>Le nombre de livres</th>
				 <th>Cote</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let livre of livres">
                  <td>{{ livre.n }}</td>
                  <td>{{ livre.titre }}</td>
                  <td>{{ livre.auteur }}</td>
                  <td>{{ livre.motsCles }}</td>
				   <td>{{ livre.motsCles }}</td>
				    <td>{{ livre.motsCles }}</td>
					 <td>{{ livre.motsCles }}</td>
					  <td>{{ livre.motsCles }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

